
    <div class="jumbotron">
        <h1>CPA02: Course Finder</h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The goal of this programming assignment is to modify the class app to will let
        students pick their courses for the year. It uses the course data fin the 21-22 JSON. 
        You must signup or login to see the courses and create your schedule. I modified it to allow students to see courses
        that have no prerequisites.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/bySubject">
            Show Courses by Subject: 
              <input type="text" name="subject" 
                     placeholder="e.g. COSI">
            <input type="submit">
            <input type="checkbox" id="filter" name="filter" value="filter"> <!--Kayla-->
            <label for="filter"> Only show courses with no prerequisites</label>
        </form>
        <br>
        <form method="post" action="/courses/byInst">
            Show Courses by Instructor Email: 
            <input type="text" name="email" 
                   placeholder="e.g. tjhickey">
            <input type="submit">
            <input type="checkbox" id="filter" name="filter" value="filter">
            <label for="filter"> Only show courses with no prerequisites</label>
        </form>
        <br>
        <a href="/schedule/show">Show Schedule</a>
    <% } %>


