<h1>CPA02</h1>
<ul>
    <li><a href="/coursefinder">Course finder demo</a></li>
    <li><a href="/aggregation">Aggregation Demo</a></li> <!--can access the results of the aggregation here-->
</ul>